@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
body {
  font-family: "poppins", sans-serif !important;
}
header {
  padding: 10px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #373b69 !important;
}

.search {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 1rem;
  color: white;
  font-family: inherit;
}

.search:focus {
  outline: 0;
  background-color: var(--primary-color);
}

.search:placeholder {
  color: #7378c5;
}

li,
a,
button {
  font-family: "poppins", sans-serif !important;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}
a {
  font-size: 1.5rem;
  margin-left: 50px;
}
.logo {
  cursor: pointer;
  height: 100px;
  width: 300px;
}

.nav__links {
  list-style: none;
}

.nav__links {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
  color: #0088a9;
}

button {
  margin-left: 20px;
  padding: 9px;
  background-color: rgba(0, 139, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0;
}

button {
  background-color: rgba(0, 139, 169, 0.8);
}
